<form method="post" action="{{ path('company_delete', {'id': company.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="atrinium-confirmation-delete-button">Delete</button>
</form>
