{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <div class="container atrinium-list-page">
        <h1>Create new Company</h1>

        {{ include('company/_form.html.twig') }}
    </div>
{% endblock %}
