{% extends 'base.html.twig' %}

{% block title %}New CurrencyRequest{% endblock %}

{% block body %}
    <div class="container atrinium-list-page">
        <h1>Make a new request</h1>

        {{ include('currency_request/_form.html.twig') }}

    </div>
{% endblock %}
